@font-face {
  font-family: "iconfont"; /* Project id 4868191 */
  src: url('/static/iconfont/iconfont.woff2?t=1742797944667') format('woff2'),
       url('/static/iconfont/iconfont.woff?t=1742797944667') format('woff'),
       url('/static/iconfont/iconfont.ttf?t=1742797944667') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuju:before {
  content: "\e62e";
}

.icon-data:before {
  content: "\e673";
}

.icon-shuju1:before {
  content: "\e884";
}

.icon-shujucanmou:before {
  content: "\e87e";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-shujutongji:before {
  content: "\e609";
}

.icon-shu:before {
  content: "\e645";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-shujutongji1:before {
  content: "\e649";
}

.icon-pingguo:before {
  content: "\e624";
}

.icon-pingguo1:before {
  content: "\e610";
}

.icon-tupian:before {
  content: "\e662";
}

.icon-tuichu:before {
  content: "\e60d";
}

.icon-shu1:before {
  content: "\e70e";
}

.icon-warning:before {
  content: "\e605";
}

.icon-xiaoxi:before {
  content: "\e6b6";
}

.icon-sousuo:before {
  content: "\e637";
}

.icon-shaixuan:before {
  content: "\e619";
}

.icon-shezhi:before {
  content: "\e676";
}

.icon-tuichu1:before {
  content: "\e62c";
}

.icon-yonghu:before {
  content: "\e64e";
}

.icon-shangpin:before {
  content: "\e634";
}

.icon-yonghuqun:before {
  content: "\e62b";
}

.icon-shezhi1:before {
  content: "\e684";
}

.icon-tuichu2:before {
  content: "\e7ed";
}

.icon-shangsheng:before {
  content: "\e61d";
}

.icon-gengduo:before {
  content: "\e602";
}

.icon-shujutongji2:before {
  content: "\e731";
}

.icon-dianhua:before {
  content: "\e65f";
}

.icon-shejihuan:before {
  content: "\e680";
}

.icon-shujutongji3:before {
  content: "\e7c7";
}

.icon-maikefengkai:before {
  content: "\e653";
}

.icon-shuju-xinzengyonghu:before {
  content: "\e608";
}

.icon-bingtu:before {
  content: "\e64f";
}

.icon-Gc_63_public-RiseOutlined:before {
  content: "\e61e";
}

.icon-dianzan:before {
  content: "\ec7f";
}

