.chatRecordSearch {
  flex: 1;
  display: flex;
  justify-content: space-between;
  .searchContentContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    .timeRange {
      display: flex;
      align-items: center;
      gap: 10px;
      .timeRangeTitle {
        width: 80px;
      }
    }
    .searchContent {
      display: flex;
      align-items: center;
      gap: 10px;
      .searchContentTitle {
        width: 100px;
      }
    }
  }
}
