.autoGroupForm {
  padding: 10px;
  background: #f7f8fa;
}

.headerBar {
  display: flex;
  align-items: center;
  height: 48px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  font-size: 18px;
  font-weight: 600;
  padding: 0 16px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  flex: 1;
  text-align: center;
}


