.idea
.env
.vscode
.DS_Store
runtime
public/upload
vendor
/public/.user.ini
/404.html
# SpecStory explanation file
.specstory/.what-is-this.md
/
.cursorindexingignore
.user.ini
nginx.htaccess
.cursor/
thinkphp/
public/static/
*.log
