.uploadButtonWrapper {
  // 使用 :global() 包装 Ant Design 的全局类名
  :global {
    .ant-upload-select {
      // 这里可以修改 .ant-upload-select 的样式
      display: block;
      width: 100%;
      span {
        display: block;
      }
    }
  }
}
